@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}

.App {
  top: 0px;
  height: 100vh;
  background-color: var(--background-color);
}
